@{
}
<header>
    <div class="header-content">
        <div class="header-logo">
            <img src="images/logo.jpeg" alt="Logo" />
            <div>BIBLIOTHÈQUE Simplon</div>
        </div>
        <div class="header-search">
            <input type="text" placeholder="Recherche...">
        </div>
        <div class="header-user">UTILISATEUR</div>
    </div>
</header>

<style>
    /* HEADER */
    header {
        background: var(--marron);
        padding: 24px 0;
    }

    .header-content {
        max-width: 1480px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        padding: 0 2rem;
    }

    .header-logo {
        display: flex;
        align-items: center;
        gap: 0.7rem;
    }

        .header-logo img {
            width: 72px;
            height: 72px;
            object-fit: cover;
            border-radius: 50%;
        }

    .header-search {
        flex: 1 1 280px;
        max-width: 400px;
        margin: 0 1rem;
    }

        .header-search input {
            width: 100%;
            padding: 9px 12px;
            border: none;
            border-radius: 4px;
            font-size: 1rem;
        }

    .header-user {
        min-width: 90px;
        text-align: center;
        padding: 15px 12px;
        background: var(--gris-btn);
        border-radius: 4px;
        font-size: 1rem;
    }
</style>